.terraform
node_modules
vendor
.env.*
.env

*.lock.hcl
*.tfstate
*.tfstate.*
apis.md
vendor
_pycache_
venv

AGENTS.md
instruction.md
.kilo

*.zip
bootstrap

*.override.tf, *.override.tf.json
*.sh

tmp
.vscode